<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Basic SDK Permissions from doc_basic.txt -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:remove="true" /> <!-- READ_PHONE_STATE might be highly sensitive and not strictly needed for basic sensor data. Re-evaluate if SDK demands it. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" /> <!-- Limit to older versions due to Scoped Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" /> <!-- Limit to older versions due to Scoped Storage -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for Android 29 (Android 10) and above if targeting -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For newer Android versions (Android 12, API 31+), specific Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" /> -->

    <!-- Permissions for foreground service if data collection needs to run reliably in background -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STAG"
        tools:targetApi="31">
        <!-- android:requestLegacyExternalStorage="true" -->
        <!-- For Android 11 (API 30) and above, Scoped Storage is enforced.
             If the SDK absolutely needs broad file access and doesn't support Scoped Storage well,
             this might be a temporary workaround for targetSdk 29. For targetSdk 30+, it has less effect.
             For Android 15, this is likely ignored. SDK should use modern storage APIs.
        -->


        <activity
            android:name=".StagDataActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
